/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer = <0>;

    layers {
      layer_0 {
bindings = <
  &kp gesc &kp q &kp w &kp e &kp r &kp t &kp y &kp u &kp i &kp o &kp p &kp bspace
  &mt LCTL TAB &kp a &kp s &kp d &kp f &kp g &kp h &kp j &kp k &kp l &kp scolon &kp quote
  &kp lshift &kp z &kp x &kp c &kp v &kp b &kp n &kp m &kp comma &kp dot &kp slash &mt RSFT ENTER
  &mod_hypr &kp lctrl &kp lalt &kp lgui &mo 1 &kp space &mo 2 &kp left &kp down &kp up &kp right
>;
      };
      layer_1 {
bindings = <
  &kp gesc &kp q &kp w &kp e &kp r &kp t &kp y &kp u &kp i &kp o &kp p &kp bspace
  &mt LCTL TAB &kp a &kp s &kp d &kp f &kp g &kp h &kp j &kp k &kp l &kp scolon &kp quote
  &kp lshift &kp z &kp x &kp c &kp v &kp b &kp n &kp m &kp comma &kp dot &kp slash &mt RSFT ENTER
  &mod_hypr &kp lctrl &kp lalt &kp lgui &mo 1 &kp space &mo 2 &kp left &kp down &kp up &kp right
>;
      };
      layer_2 {
bindings = <
  &kp gesc &kp q &kp w &kp e &kp r &kp t &kp y &kp u &kp i &kp o &kp p &kp bspace
  &mt LCTL TAB &kp a &kp s &kp d &kp f &kp g &kp h &kp j &kp k &kp l &kp scolon &kp quote
  &kp lshift &kp z &kp x &kp c &kp v &kp b &kp n &kp m &kp comma &kp dot &kp slash &mt RSFT ENTER
  &mod_hypr &kp lctrl &kp lalt &kp lgui &mo 1 &kp space &mo 2 &kp left &kp down &kp up &kp right
>;
      };
      layer_3 {
bindings = <
  &kp gesc &kp q &kp w &kp e &kp r &kp t &kp y &kp u &kp i &kp o &kp p &kp bspace
  &mt LCTL TAB &kp a &kp s &kp d &kp f &kp g &kp h &kp j &kp k &kp l &kp scolon &kp quote
  &kp lshift &kp z &kp x &kp c &kp v &kp b &kp n &kp m &kp comma &kp dot &kp slash &mt RSFT ENTER
  &mod_hypr &kp lctrl &kp lalt &kp lgui &mo 1 &kp space &mo 2 &kp left &kp down &kp up &kp right
>;
      };
    };
  };
};
